.skill_section {
  position: relative;
  margin: 100px 0;
}
.heading {
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 60px;
}
.skill_container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 8fr);
  grid-gap: 100px;
  align-items: center;
  color: #fff;
}
.skill_card {
  position: relative;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.skill_img {
  width: 80px;
  margin-left: 87px;
  margin-top: 10px;
  background-color: #1a1a1a;
}
.skill_name {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
}
.skill_card:hover {
  scale: 1.1;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.html {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 0.75rem;
}
.css {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.js {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.sass {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.react {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.next {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.mui {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.tailwind {
  width: 250px;
  height: 130px;
  background-color: #1a1a1a;
  border-radius: 10px;
}